@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="~/css/site.css" rel="stylesheet" />
<header>
    <h1>@ViewData["Title"]</h1>
    <p>@Model.status</p>
</header>