@model IEnumerable<Bloger.Models.ComentsViewModel>

@{
    ViewData["Title"] = "Comments";
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12" id="jqueryModel">

        <a onclick="AddComments('@Url.Action("AddComment", "Posts" , new {id=ViewBag.PostID })')" class="btn btn-primary">Add new comment <i class='fas fa-comment'></i></a>
        <div id="AddComments">

        </div>
        @if (Model.Any())
         {
            <table class="table col-md-12">
                <thead>
                    <tr>
                     
                    </tr>
                </thead>
                <tbody>
                   @foreach (var item in Model)
                       {
                         <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName) :
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                        }
                </tbody>
            </table>

        }
        else
        {
            <label>No Comments</label>
        }
        <a href="#" rel="modal:close" onclick="EmptyData()">Close</a>
    </div>
</div>
<script>

    function AddComments(url) {
        $('#AddComments').load(url);
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

