/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 80px;
}
#navbar {
    font-size: 2.25rem;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */


/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.BlogTitle {
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 25px;
}
.BlogBody {
    border-radius: 25px;
    border: 1px solid gray;
}
.BlogImage {
    display: block;
    margin: 2% auto 2% auto;
    height: 290px;
    width: 220;
}
.BtnComent {
    font-size: 20px;
    background-color:gray;
    color:white;
    margin-bottom:2%;
    margin-left:7%;

    
}
.BlogText {
    margin: 4px 20px 10px;
}
.SearchBox {
    display: flex;
    flex-direction: row;
}
.SelectCat {
    margin-left: 66%;
    font-size: 17px;
    border: solid #225bb5;
}
#CatOpt
{
    margin-bottom:15%;
    font-size:20;
}
.Discust {
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 3%;
}
